In [109]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [110]:
df_train=pd.read_csv('train-new.csv')
df_test=pd.read_csv('test-new.csv')

In [111]:
from feature_engine import categorical_encoders as ce
encoder = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['dvcat'])

In [112]:
from feature_engine import categorical_encoders as ce
encoder1 = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['dvcat'])
encoder1.fit(df_train)
t_train= encoder1.transform(df_train)
df_train['dvcat_var_imp']=t_train['dvcat']
from feature_engine import categorical_encoders as ce
encoder = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['dvcat'])
encoder.fit(df_test)
t_test= encoder.transform(df_test)
df_test['dvcat_var_imp']=t_test['dvcat']

In [113]:
from feature_engine import categorical_encoders as ce
encoder1 = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['dvcat'])
encoder1.fit(df_train)
t_train= encoder1.transform(df_train)
df_train['dvcat_var_imp']=t_train['dvcat']
from feature_engine import categorical_encoders as ce
encoder = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['dvcat'])
encoder.fit(df_test)
t_test= encoder.transform(df_test)
df_test['dvcat_var_imp']=t_test['dvcat']

In [114]:
df_train.corr()

,weight,frontal,ageOFocc,yearacc,yearVeh,deploy,injSeverity,dvcat_var_imp
weight,1.000000,-0.011311,-0.026542,0.008976,-0.009341,-0.055878,-0.207602,0.102782
frontal,-0.011311,1.000000,-0.048092,0.017309,-0.022682,0.237448,-0.019992,-0.016501
ageOFocc,-0.026542,-0.048092,1.000000,-0.006382,0.019544,0.010647,0.086280,0.058936
yearacc,0.008976,0.017309,-0.006382,1.000000,0.297359,0.121288,-0.038700,0.028562
yearVeh,-0.009341,-0.022682,0.019544,0.297359,1.000000,0.483176,-0.075241,0.098176
deploy,-0.055878,0.237448,0.010647,0.121288,0.483176,1.000000,0.062800,-0.005886
injSeverity,-0.207602,-0.019992,0.086280,-0.038700,-0.075241,0.062800,1.000000,-0.336607
dvcat_var_imp,0.102782,-0.016501,0.058936,0.028562,0.098176,-0.005886,-0.336607,1.000000

In [115]:
df_train=df_train.drop([16789])

In [116]:
from sklearn.preprocessing import LabelEncoder
def preprocessing(data):
    data['yearVeh']=data['yearVeh'].fillna(data['yearVeh'].mode()[0])
#     data['dvcat']=data['dvcat'].map({'1-9km/h':1,'10-24':2,'25-39':3,'40-54':4,'55+':5})
#     data['dead']=data['dead'].map({'dead':0,'alive':1})
    data['age']=data['yearacc']-data['yearVeh']
#     data['airbag']=data['airbag'].map({'none':0,'airbag':1})
#     data['seatbelt']=data['seatbelt'].map({'none':0,'belted':1})
#     data['sex']=data['sex'].map({'f':0,'m':1})
#     data['abcat']=data['abcat'].map({'deploy':0,'unavail':1,'nodeploy':2})
#     data['occRole']=data['occRole'].map({'driver':0,'pass':1})
    data['age']=data['age'].apply(lambda x:0 if(x==-1) else x)
#     data['weight_new']=pd.cut(data['weight'],[-1,60,100,150,480,57871.595],labels=[1,2,3,4,5])
#     data['age_new']=pd.cut(df_train['age'],[0,18,30,40,50,60],labels=[1,2,3,4,5])
    data['caseid_0']=data['caseid'].apply(lambda x:re.findall('[\d]*',x)[0])
    data['caseid_2']=data['caseid'].apply(lambda x:re.findall('[\d]*',x)[2])
    data['caseid_4']=data['caseid'].apply(lambda x:re.findall('[\d]*',x)[4])
    
    
    
    

# def preprocess_label_encode(df_train,df_test):
#     lb=LabelEncoder()
#     lb.fit(df_train['caseid'])
#     df_train['caseid']=lb.transform(df_train['caseid'])
#     df_test['caseid']=lb.transform(df_test['caseid'])

In [117]:
import re
preprocessing(df_train)
preprocessing(df_test)
# preprocess_label_encode(df_train,df_test)

In [118]:
df_train

,dvcat,weight,dead,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,abcat,occRole,deploy,caseid,injSeverity,dvcat_var_imp,age,caseid_0,caseid_2,caseid_4
0,55+,53.342,dead,airbag,belted,1,f,48,2002,1997,deploy,driver,1,45:150:1,3,0.056419,5,45,150,1
1,25-39,154.960,alive,none,none,1,m,26,2001,1968,unavail,driver,0,76:40:1,3,0.312496,33,76,40,1
2,55+,38.994,alive,none,none,1,f,51,2002,1994,unavail,driver,0,11:184:1,3,0.056419,8,11,184,1
3,25-39,168.568,alive,airbag,belted,1,m,27,1998,1996,deploy,pass,1,9:17:1,3,0.312496,2,9,17,1
4,10-24,27.751,alive,airbag,belted,0,m,26,2002,1997,nodeploy,pass,0,2:2:2,0,0.492172,5,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17560,10-24,131.491,alive,airbag,belted,0,m,28,2002,1997,deploy,driver,1,2:106:1,0,0.492172,5,2,106,1
17561,10-24,281.693,alive,none,belted,1,f,39,1998,1987,unavail,driver,0,12:118:1,1,0.492172,11,12,118,1
17562,10-24,419.418,alive,airbag,belted,1,f,29,1997,1988,deploy,driver,1,9:37:2,3,0.492172,9,9,37,2
17563,40-54,9.815,alive,none,none,1,f,22,2000,1990,unavail,driver,0,49:112:2,3,0.112041,10,49,112,2
17564,10-24,1395.602,alive,none,belted,1,m,19,2002,1987,unavail,pass,0,43:159:2,0,0.492172,15,43,159,2

In [119]:
from feature_engine import categorical_encoders as ce
encoder1 = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['caseid_2'])
encoder1.fit(df_train)
t_train= encoder1.transform(df_train)
df_train['caseid_2_var_imp']=t_train['caseid_2']
from feature_engine import categorical_encoders as ce
encoder = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['caseid_2'])
encoder.fit(df_test)
t_test= encoder.transform(df_test)
df_test['caseid_2_var_imp']=t_test['caseid_2']
df_train['caseid_2']=df_train['caseid_2'].astype(int)
df_test['caseid_2']=df_test['caseid_2'].astype(int)

from feature_engine import categorical_encoders as ce
encoder1 = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['caseid_0'])
encoder1.fit(df_train)
t_train= encoder1.transform(df_train)
df_train['caseid_0_var_imp']=t_train['caseid_0']
from feature_engine import categorical_encoders as ce
encoder = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['caseid_0'])
encoder.fit(df_test)
t_test= encoder.transform(df_test)
df_test['caseid_0_var_imp']=t_test['caseid_0']
df_train['caseid_0']=df_train['caseid_0'].astype(int)
df_test['caseid_0']=df_test['caseid_0'].astype(int)



from feature_engine import categorical_encoders as ce
encoder1 = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['caseid_4'])
encoder1.fit(df_train)
t_train= encoder1.transform(df_train)
df_train['caseid_4_var_imp']=t_train['caseid_4']
from feature_engine import categorical_encoders as ce
encoder = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',variables=['caseid_4'])
encoder.fit(df_test)
t_test= encoder.transform(df_test)
df_test['caseid_4_var_imp']=t_test['caseid_4']
df_train['caseid_4']=df_train['caseid_4'].astype(int)
df_test['caseid_4']=df_test['caseid_4'].astype(int)

In [123]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df_train['dvcat']=lb.fit_transform(df_train['dvcat'])
df_test['dvcat']=lb.transform(df_test['dvcat'])
lb=LabelEncoder()
df_train['dead']=lb.fit_transform(df_train['dead'])
df_test['dead']=lb.transform(df_test['dead'])
lb=LabelEncoder()
df_train['airbag']=lb.fit_transform(df_train['airbag'])
df_test['airbag']=lb.transform(df_test['airbag'])
lb=LabelEncoder()
df_train['seatbelt']=lb.fit_transform(df_train['seatbelt'])
df_test['seatbelt']=lb.transform(df_test['seatbelt'])
lb=LabelEncoder()
df_train['sex']=lb.fit_transform(df_train['sex'])
df_test['sex']=lb.transform(df_test['sex'])
lb=LabelEncoder()
df_train['abcat']=lb.fit_transform(df_train['abcat'])
df_test['abcat']=lb.transform(df_test['abcat'])
lb=LabelEncoder()
df_train['occRole']=lb.fit_transform(df_train['occRole'])
df_test['occRole']=lb.transform(df_test['occRole'])

In [124]:
df_train=df_train.drop(['caseid'],axis=1)
df_test=df_test.drop(['caseid'],axis=1)

In [125]:
df_train['caseid_2'].nunique()

328

In [126]:
# lb=LabelEncoder()
# df_train['weight_new']=lb.fit_transform(df_train['weight_new'])
# df_test['weight_new']=lb.transform(df_test['weight_new'])

# lb=LabelEncoder()
# df_train['age_new']=lb.fit_transform(df_train['age_new'])
# df_test['age_new']=lb.transform(df_test['age_new'])

In [127]:
# df_train['age_new'].replace({(0, 18]:1},regex=True)

### MODEL BUILDING

In [128]:
from lightgbm import LGBMClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [129]:
X=df_train.drop(['injSeverity'],axis=1)
y=df_train.injSeverity

In [130]:
from sklearn.model_selection import KFold,cross_val_score

In [131]:
lgb_params = {}
lgb_params['learning_rate'] =0.1
lgb_params['boosting_type'] ='gbdt'
lgb_params["subsample"]=1
lgb_params["colsample_bytree"]=.9
lgb_params["min_child_samples"]=20
lgb_params["reg_lambda"]=.1
lgb_params["max_depth"]=15
lgb_params["num_leaves"]=43
lgb_params["n_estimators"]=100
lgb_params["random_state"]=0

In [132]:
# for i in [1]:
#     print(i)
#     lgb=LGBMClassifier(n_estimators=200,max_depth=i)
#     kfolds=KFold(n_splits=5,shuffle=True,random_state=1)
#     scores_of_model=cross_val_score(lgb,X,y,scoring='f1_weighted',n_jobs=-1)
#     print(np.mean(scores_of_model))
#     print(np.std(scores_of_model))
#     print(scores_of_model)

In [133]:
# for i in [1]:
#     print('n_estimators',i)
#     gbc=GradientBoostingClassifier(n_estimators=200,max_depth=5)
#     kfolds=KFold(n_splits=3,shuffle=True,random_state=1)
#     scores_of_model=cross_val_score(gbc,X,y,scoring='f1_weighted',n_jobs=-1)
#     print('score',np.mean(scores_of_model))
#     print('var',np.std(scores_of_model))
#     print(scores_of_model)

In [134]:
gbc=LGBMClassifier(**lgb_params)

In [135]:
from sklearn.model_selection import train_test_split

In [136]:
gbc

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=0.9,
               importance_type='split', learning_rate=0.1, max_depth=15,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=43, objective=None,
               random_state=0, reg_alpha=0.0, reg_lambda=0.1, silent=True,
               subsample=1, subsample_for_bin=200000, subsample_freq=0)

In [137]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [138]:
gbc.fit(X_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=0.9,
               importance_type='split', learning_rate=0.1, max_depth=15,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=43, objective=None,
               random_state=0, reg_alpha=0.0, reg_lambda=0.1, silent=True,
               subsample=1, subsample_for_bin=200000, subsample_freq=0)

In [139]:
pd.DataFrame(gbc.feature_importances_,X.columns,columns=['vals']).sort_values(by='vals',ascending=False)

                  vals
weight            3747
ageOFocc          3301
caseid_2          3120
caseid_2_var_imp  2245
caseid_0          1971
caseid_0_var_imp  1874
yearVeh           1431
age               1425
yearacc           1067
dvcat              774
sex                491
seatbelt           448
caseid_4           418
frontal            367
occRole            350
dvcat_var_imp      338
abcat              330
dead               315
caseid_4_var_imp   139
airbag             138
deploy              70

In [140]:
df_submission=df_test.copy()

In [141]:
df_test

,dvcat,weight,dead,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,...,occRole,deploy,dvcat_var_imp,age,caseid_0,caseid_2,caseid_4,caseid_2_var_imp,caseid_0_var_imp,caseid_4_var_imp
0,3,18.895,0,0,0,0,1,25,2002,2000.0,...,1,1,0.116620,2.0,81,99,1,0.005317,0.027855,0.567961
1,2,266.532,0,1,1,1,0,28,2001,1991.0,...,0,0,0.314956,10.0,76,12,2,0.005086,0.020458,0.407420
2,2,51.810,0,0,0,1,0,36,1999,1994.0,...,0,1,0.314956,5.0,78,53,2,0.005548,0.023116,0.407420
3,1,1567.626,0,0,0,0,0,24,2002,1994.0,...,0,0,0.485784,8.0,11,47,1,0.005317,0.051202,0.567961
4,2,31.342,0,1,1,1,0,46,1997,1990.0,...,1,0,0.314956,7.0,12,87,2,0.005317,0.072469,0.407420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8647,1,64.757,0,0,1,0,1,37,2001,1999.0,...,0,0,0.485784,2.0,6,71,2,0.006819,0.019302,0.407420
8648,0,178.651,0,0,1,1,0,16,2001,2001.0,...,1,1,0.024734,0.0,76,57,2,0.004739,0.020458,0.407420
8649,2,482.272,0,0,0,1,1,16,1997,1992.0,...,0,1,0.314956,5.0,74,65,1,0.006126,0.048313,0.567961
8650,4,32.467,0,1,0,1,1,26,1998,1994.0,...,0,0,0.057906,4.0,12,4,2,0.004739,0.072469,0.407420
8651,3,10.800,1,1,1,0,1,73,1998,1989.0,...,0,0,0.116620,9.0,4,32,1,0.005317,0.033287,0.567961

In [142]:
df_submission1=pd.DataFrame()
df_submission1['injSeverity']=gbc.predict(df_test)

In [143]:
df_submission1.to_csv('main5.csv',index=False)